In [67]:
import pandas as pd
import json


def salary(my_s):
    my_s = [i.strip() for i in str(my_s).split('-')]
    while 'None' in my_s:
        my_s.remove('None')
    if len(my_s) == 0:
        return 0
    elif len(my_s) == 1:
        return int(my_s[0])
    else:
        if int(my_s[0]) >= int(my_s[1]):
            return int(my_s[0])
        else:
            return int(my_s[1])


with open('vacancies.json') as file:
    data = json.load(file)

df = pd.json_normalize(data, record_path='data')

df['max_salary'] = df['salary'].apply(salary)

# print(df.head(60))
print(df.describe())
print(round(df['max_salary'].mean(), 1))
print(df['max_salary'].max())
print(df['max_salary'].min())

print(df['max_salary'])
print(df.groupby('region').mean())

         max_salary
count  1.000000e+02
mean   4.770920e+05
std    3.593282e+06
min    0.000000e+00
25%    0.000000e+00
50%    6.000000e+04
75%    2.000000e+05
max    3.600000e+07
477092.0
36000000
0
0      600000
1     1500000
2      500000
3       60000
4      170000
       ...
95          0
96          0
97      60000
98          0
99          0
Name: max_salary, Length: 100, dtype: int64
                   max_salary
region
Алматы           2.000000e+03
Армения          5.000000e+03
Астана           4.262500e+05
Бишкек           8.500000e+04
Болгария         5.700000e+03
Екатеринбург     1.633333e+05
Иркутск          0.000000e+00
Казань           9.000000e+04
Калининград      2.000000e+05
Латвия           5.000000e+03
Москва           1.205543e+05
Нижний Новгород  0.000000e+00
Новокузнецк      0.000000e+00
Новосибирск      8.666667e+04
Ростов-на-Дону   4.000000e+04
Самара           2.000000e+05
Санкт-Петербург  1.425000e+05
Севастополь      0.000000e+00
Симферополь      0.000000e+00
Ташкент          1.200133e+07
Тбилиси          5.000000e+03
Томск            1.500000e+05
Тула             0.000000e+00
Тюмень           1.500000e+05